<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artes da Sassa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Artes da Sassa</h1>
    </header>

    <section class="sobre">
        <img src="{{ url_for('static', filename='foto_sassa.jpg') }}" alt="Foto da Sassa">
        <div class="descricao">
            <p>Olá! Eu sou a Sassa, dou aulas na loja <strong>Center Panos</strong> em Bragança Paulista, ensinando a fazer bonecas de pano. Também tenho um canal no YouTube onde ensino a criar bonecas, enfeites, crochê e guirlandas.</p>
        </div>
    </section>

    <section class="galeria">
        <h2>Minhas Peças</h2>
        <div class="fotos">

              <img src="{{ url_for('static', filename='peca4.jpg') }}" alt="Peça 4">
                <img src="{{ url_for('static', filename='peca5.jpg') }}" alt="Peça 5">
                  <img src="{{ url_for('static', filename='peca6.jpg') }}" alt="Peça 6">
        </div>
    </section>

    <section class="contatos">
        <h2>Me encontre também</h2>
        <a class="botao youtube" href="https://www.youtube.com/@artesdasassa6722" target="_blank">
            <i class="fab fa-youtube"></i> YouTube
        </a>
        <a class="botao whatsapp" href="https://wa.link/k1z4t1" target="_blank">
            <i class="fab fa-whatsapp"></i> WhatsApp
        </a>
        <a class="botao instagram" href="https://www.instagram.com/artes_da_sassa?igsh=MTAza2RmdjhmZHE2bw==" target="_blank">
            <i class="fab fa-instagram"></i> Instagram
        </a>
    </section>

    <footer>
        <p>© 2026 Artes da Sassa - Todos os direitos reservados</p>
    </footer>
</body>
</html>
